<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>收藏夹-皮爷の商城</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/myCollect.css" />
    <link rel="icon" href="../images/index/py.ico">
    <script src="../js/init.js"></script>
</head>

<body>
    <!-- 页面顶部-->
    <header id="header"></header>
    <div class="modal" style="display:none">
        <div class="modal_dialog">
            <div class="modal_header">
                删除提醒
            </div>
            <div class="modal_information">
                <img src="../images/model/model_img2.png" alt="" />
                <span>确定删除您的这个宝贝吗？</span>

            </div>
            <div class="yes"><span>删除</span></div>
            <div class="no"><span>不删除</span></div>
        </div>
    </div>
    <div class="modalYi" style="display:none">
        <div class="modal_dialog">
            <div class="modal_header">
                操作提醒
            </div>
            <div class="modal_information">
                <img src="../images/model/model_img2.png" alt="" />
                <span>将您的宝贝移入购物车？</span>

            </div>
            <div class="yes"><span>确定</span></div>
            <div class="no"><span>取消</span></div>
        </div>
    </div>
    <div class="modalNo" style="display:none">
        <div class="modal_dialog">
            <div class="modal_header">
                删除提示
                <img src="../images/model/model_img1.png" alt="" class="rt close" />
            </div>
            <div class="modal_information">
                <img src="../images/model/model_img2.png" alt="" />
                <span>请选择商品</span>

            </div>

        </div>
    </div>

    <div class="modalAdd" style="display:none">
        <div class="modal_dialog">
            <div class="modal_header">
                添加提示
                <img src="../images/model/model_img1.png" alt="" class="rt close" />
            </div>
            <div class="modal_information">
                <img src="../images/model/model_img2.png" alt="" />
                <span>请选择商品</span>

            </div>

        </div>
    </div>

    <div class="big">
        <form name="" action="" method="post">
            <section id="section">
                <div id="title">
                    <b>收藏商品</b>&nbsp;&nbsp;&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;
                    <b class="store">收藏店家</b>
                </div>
                <div id="box">
                    <div class="imfor_top">
                        <div class="manage">
                            <span class="normal">管理收藏夹</span>
                        </div>
                        <div class="check_top">
                            <div class="all">
                                <span class="normal"> <img src="../images/myCollect/product_normal.png" alt="" /></span>全选
                            </div>
                            <div class="del">删除</div>
                            <div class="allAdd">加入购物车</div>
                            <div class="sure" style="display: none">
                                <img src="../images/myCollect/product_true.png" alt="" />
                                <span>已移入购物车</span>
                            </div>
                        </div>
                        <div class="foot_qk">清空失效商品</div>
                    </div>
                    <div id="content_box">
                        <!-- <div class="lf" id="d1">
                            <div class="img">
                                <img src="../images/myCollect/product_img1.png" alt="" />
                            </div>
                            <div class="describe">
                                <p>
                                    复古双肩背包&nbsp;橙色，双背带&nbsp;
                                </p>
                                <span class="price"><b>￥</b><span class="priceContent">499.00</span></span>
                                <span class="addCart">加入购物车</span>
                                <span class="succee" style="display: none">
                                    <img src="../images/myCollect/product_true.png" alt="" />
                                    <span>已移入购物车</span>
                                </span>
                            </div>
                            <div class="mask" style="display:none">
                                <div class="maskNormal">
                                    <img src="../images/myCollect/product_normal_big.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="lf" id="d2">
                            <div class="img">
                                <img src="../images/myCollect/product_img2.png" alt="" />
                            </div>
                            <div class="describe">
                                <p>
                                    复古双肩背包&nbsp;橙色，双背带&nbsp;
                                </p>
                                <span class="price"><b>￥</b><span class="priceContent">4000.00</span></span>
                                <span class="addCart">加入购物车</span>
                                <span class="succee" style="display: none">
                                    <img src="../images/myCollect/product_true.png" alt="" />
                                    <span>已移入购物车</span>
                                </span>
                            </div>
                            <div class="mask" style="display: none">
                                <div class="maskNormal">
                                    <img src="../images/myCollect/product_normal_big.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="lf" id="d3">
                            <div class="img">
                                <img src="../images/myCollect/product_img3.png" alt="" />
                            </div>
                            <div class="describe">
                                <p>
                                    复古双肩背包&nbsp;橙色，双背带&nbsp;
                                </p>
                                <span class="price"><b>￥</b><span class="priceContent">4000.00</span></span>
                                <span class="addCart">加入购物车</span>
                                <span class="succee" style="display: none">
                                    <img src="../images/myCollect/product_true.png" alt="" />
                                    <span>已移入购物车</span>
                                </span>
                            </div>
                            <div class="mask" style="display: none">
                                <div class="maskNormal">
                                    <img src="../images/myCollect/product_normal_big.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="lf" id="d4">
                            <div class="img">
                                <img src="../images/myCollect/product_img4.png" alt="" />
                            </div>
                            <div class="describe">
                                <p>
                                    复古双肩背包&nbsp;橙色，双背带&nbsp;
                                </p>
                                <span class="price"><b>￥</b><span class="priceContent">4000.00</span></span>
                                <span class="addCart">加入购物车</span>
                                <span class="succee" style="display: none">
                                    <img src="../images/myCollect/product_true.png" alt="" />
                                    <span>已移入购物车</span>
                                </span>
                            </div>
                            <div class="mask" style="display: none">
                                <div class="maskNormal">
                                    <img src="../images/myCollect/product_normal_big.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="lf" id="d5">
                            <div class="img">
                                <img src="../images/myCollect/product_img5.png" alt="" />
                            </div>
                            <div class="describe">
                                <p>
                                    复古双肩背包&nbsp;橙色，双背带&nbsp;
                                </p>
                                <span class="price"><b>￥</b><span class="priceContent">4000.00</span></span>
                                <span class="addCart">加入购物车</span>
                                <span class="succee" style="display: none">
                                    <img src="../images/myCollect/product_true.png" alt="" />
                                    <span>已移入购物车</span>
                                </span>
                            </div>
                            <div class="mask" style="display: none">
                                <div class="maskNormal">
                                    <img src="../images/myCollect/product_normal_big.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="lf" id="d6">
                            <div class="img">
                                <img src="../images/myCollect/product_img6.png" alt="" />
                            </div>
                            <div class="describe">
                                <p>
                                    复古双肩背包&nbsp;橙色，双背带&nbsp;
                                </p>
                                <span class="price"><b>￥</b><span class="priceContent">4000.00</span></span>
                                <span class="addCart">加入购物车</span>
                                <span class="succee" style="display: none">
                                    <img src="../images/myCollect/product_true.png" alt="" />
                                    <span>已移入购物车</span>
                                </span>
                            </div>
                            <div class="mask" style="display: none">
                                <div class="maskNormal">
                                    <img src="../images/myCollect/product_normal_big.png" alt="" />
                                </div>
                            </div>
                        </div> -->

                    </div>
                    <!-- <div class="foot" >
                    <div class="manage">
                        <span class="normal">管理收藏夹</span>
                    </div>
                    <div class="check_top">
                        <div class="all">
                            <span class="normal"> <img src="../images/myCollect/product_normal.png" alt=""/></span>全选
                        </div>
                        <div class="del">删除</div>
                        <div class="allAdd">加入购物车</div>
                        <div class="sure" style="display: none">
                            <img src="../images/myCollect/product_true.png" alt=""/>
                            <span>已移入购物车</span>
                        </div>
                    </div>
                </div>-->

                </div>
            </section>

        </form>
        <div class="none" style="display: none">
            <div class="none_content">
                <img src="../images/model/model_img3.png" alt="" class="lf" />
                <p class="lf">您的收藏夹竟然还是空哒( ⊙ o ⊙ )</p>
                <span class="lf">赶快去收藏商品吧！</span>
                <a href="#" class="lf">去购物>></a>
            </div>

        </div>
    </div>
    <footer id="footer"></footer>
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/collect.js"></script>
    <script>
        function load() {
            $.ajax({
                type: 'get',
                url: baseUrl + '/cart/favorlist',
                datatype: JSON,
                success: function (response) {
                    var result = JSON.parse(response)
                    console.log(result)
                    if (result.result) {
                        var html = ''
                        result.data.forEach(el => {
                            html +=
                                `
                        <div class="lf" data-id="${el.goodsid}" data-favid="${el.favid}"><div class="img"><img src="${baseUrl+'/images'+el.goodsimg}" alt=""/></div><div class="describe"><p>
                        ${el.title}</p><p>${el.spec}&nbsp;&nbsp;${el.color}</p><span class="price"><b>￥</b><span class="priceContent">${el.price}</span></span><span class="addCart">加入购物车</span>
                        <span class="succee" style="display: none"><img src="../images/myCollect/product_true.png" alt=""/><span>已移入购物车</span></span></div>
                        <div class="mask" style="display:none"><div class="maskNormal"><img src="../images/myCollect/product_normal_big.png" alt=""/></div></div></div>
                        `
                        });
                        $('#content_box').html(html)
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            }).then(() => {
                //单选
                $('.mask').click(function (e) {
                    if ($(this).children().hasClass('maskNormal')) {
                        $(this).children().addClass('maskTrue').removeClass('maskNormal');
                        $(this).children().children().attr('src',
                            '../images//myCollect/product_true_big.png');
                    } else {
                        $(this).children().addClass('maskNormal').removeClass('maskTrue');
                        $(this).children().children().attr('src',
                            '../images/myCollect/product_normal_big.png');
                    }
                })
                //单独添加购物车
                $('.addCart').click(function () {
                    var id = []
                    var goodsid = $(this).parent().parent().attr('data-id');
                    var favid = $(this).parent().parent().attr('data-favid');
                    id.push({
                        goodsid: goodsid,
                        favid: favid
                    });
                    console.log(id)
                    $.ajax({
                        type: "POST",
                        url: baseUrl + "/cart/favortocart",
                        data: {
                            favor: JSON.stringify(id)
                        },
                        success: function (response) {
                            var result = JSON.parse(response)
                            console.log(result)
                            if (result.result) {
                                $(".modalYi").hide();
                                alert(result.data)
                            }
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    }).then(() => {
                        load()

                    });
                })
            })
        }
        load()
    </script>
</body>

</html>